driver_sources:
  - appium:
      enabled: true
      url: "http://localhost:4723"
      capabilities:
        app_param:
        appActivity: com.android.contacts.activities.PeopleActivity
        appPackage: com.google.android.contacts
        automationName: UiAutomator2
        deviceName: emulator-5554
        platformName: Android

elements_sources:
  - appium_find_element:
      enabled: true
  - appium_page_source:
      enabled: false
  - appium_screenshot:
      enabled: true

text_detection:
  - easyocr:
      enabled: false


image_detection:
  - templatematch:
      enabled: false

log_level: DEBUG

json_log: true
